#root {
  font-family: Eurostile, Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  color: 'white';
}

.background-image {
  background-image: url('images/bg.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
  width: 100vw;
  position: relative;
}

.image-container {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.second-section {
  position: absolute;
  top: 40%;
  width: 90%;
  margin: 20px auto;
}


/* .left-container {
  position: absolute;
  top: 60%;
  left: 30%;
  transform: translate(-50%, -50%);
}
.right-container {
  position: absolute;
  top: 60%;
  left: 60%;
  transform: translate(-50%, -50%);
} */

.combined-container {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: space-between;
  width: 90%;
}

.left-container,
.right-container {
  width: 25%;
}

.text {
  color: white;
  font-size: 24px;
  position: absolute;
  left: 50%;
  top: 10%;
  transform: translate(-50%, -50%);
}